{
  "id": "XX",
  "leadModelInFamily": "a72345155-9215-4181-b1d9-cfc2e20c58xbb",
  "subType": "iPhone",
  "brand": "{{brand}}",
  "model": "{{model}}",
  "lifecycle": {
    "status": "ComingSoon",
    "statusMessage": "Due late summer 2014"
  },
  "promotion": {
   "postpay" : {
        "sash": "COMING SOON",
        "ribbon": "This phone comes with a free in ear headphones for this family1"
    },
    "nonConnected" : {
        "sash": "o2 Exclusive for this family1",
        "ribbon": "This phone comes with a free in ear headphones for this family1"
   }
  },
  "sortOrdinal": 100,
  "includeSimInUpgradeOrder": false,
  "sku": {"code": "3HCB40"},
  "modelFamily": "iPhone 3",
  "simType": "Regular",
  "replacementCost": "29.99",
  "costToO2": "609.99",
  "rrp": "709.99",
  "keyFeatures": [],
  "stockInfo": {
    "stock": "InStock"
  },
  "stockLimited": false,
  "operatingSystem": "iOS",
  "colourGroup": "yellow",
  "classification": {
    "colour": {
      "display": "Yellow",
      "primary": "#FFFF00"
    },
    "memory": {
      "value": "16",
      "unit": "GB",
      "display": "16GB"
    },
    "connectivity": {
      "display": "4G WiFi",
      "connected": true,
      "wifi": true
    }
  },
  "attachments": [],
  "images": {
    "orientation": "Portrait",
    "standard": {
      "listSingle": "apple-iPhone-child1.jpg",
      "details": "apple-iPhone-child1.jpg",
      "tariff": "apple-iPhone-child1.jpg",
      "basket": "apple-iPhone-child1.jpg"
    }
  },
  "techSpec": [],
  "fulfillmentData": {
    "productType": "HAN",
    "productName": "ElCHEP1",
    "risk": "3",
    "otherProducts": [
      {
        "productType": "POS",
        "productId": "23G3FFUN",
        "productName": "Sim PM Micro SIM"
      }
    ]
  },
  "channelPermissions": {
    "ConsumerNew": "Buyable",
    "ConsumerUpgrade": "Buyable",
    "VoiceNew": "Buyable",
    "VoiceUpgrade": "Buyable"
  },
  "relationships": [
    {
      "type": "plan",
      "id": "cca1234-bcb5-4db9-a341-03babdb9efad",
      "prices": [
        {
          "oneOff": "119.99",
          "monthly": "20.00",
          "isDefault": true
        }
      ]
    },
    {
      "type": "dataallowance",
      "id": "iphone"
    },
    {
      "type": "insurance",
      "id": "2b218e2a-9977-44ef-bb0b-7660ef1e4535"
    }
  ],
  "sellingPoints": [],
  "snippet": "This is a snippet for the iPhone 3 which is coming soon! "
}
